
  
  
  
  .form-container-plans {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-floating-plans {
    margin-bottom: 15px;
  }
  
  .form-control-plans {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    border: none;
    background-color: #e9ecef;
  }
  
  .form-control-plans:focus {
    outline: none;
    box-shadow: none;
    background-color: #dfe3e6;
  }
  
  .btn-plans {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-plans:hover {
    background-color: #0069d9;
  }
  
  .row-plans {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .col-plans {
    width: 48%;
  }
  
  @media screen and (max-width: 768px) {
    .col-plans {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  